.better-npc-sheet-container .better-npc-sheet {
    background-image: url(../../../systems/dnd5e/ui/parchment.jpg);
    background-repeat: repeat;
    padding: 3px;
    height: auto;
    color: #636161;
}