<form>
    <a class="reset HDclickable right" title="attention, irreversible !">ré-initialiser le personnage</a>

    <h1 class="charname"> création de {{data.actor.name}}</h1>

    <div class="flexrow">
        <div class="flexrow">
            <ol>
                <li>
                    <h2>choix de la race</h2>
                    <select name="race" class="race">
                        {{#select actor.flags.srd-heros-et-dragons.race}}
                        <option value="none">--choix de race--</option>
                        {{#each HDSRD.races}}
                        <option value="{{this.name}}">{{this.name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <a class="validRace right">valider</a>

                </li>
                <li>
                    <h2>choix de l'historique</h2>
                    <select class="historique">
                        {{#select actor.flags.srd-heros-et-dragons.historique}}
                        <option value="none">--choix d'historique--</option>
                        {{#each HDSRD.historiques}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <a class="validHist right">valider</a>

                </li>
                <li>
                    <h2>choix de la classe</h2>
                    <select class="classe">
                        {{#select actor.flags.srd-heros-et-dragons.historique}}
                        <option value="none">--choix de classe--</option>
                        {{#each HDSRD.classes as |cl key|}}
                        <option value="{{cl.label}}">{{cl.label}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <a class="validClass right">valider</a>

                </li>
                <li>
                    <h2>Déterminer les caractéristiques</h2>
                    <p>
                    <select class="carac_methode">
                        <option value="none">--méthode--</option>
                        <option value="fixe">fixe</option>
                        <option value="aléatoire">aléatoire</option>
                        <option value="répartition">répartition</option>
                    </select>
                    <select class="carac_niveau">
                        <option value="none">--niveau de puissance--</option>
                        <option value="Courageux">Courageux</option>
                        <option value="Héroïque">Héroïque</option>
                        <option value="Légendaire">Légendaire</option>
                    </select>
                </p>
                <p class="carac_scores">

                </p>
                <span>pensez à ajuster à la main vos modificateurs raciaux</span>
                    <a class="validCarac right">valider</a>
                </li>
               

            </ol>
        </div>
        
    </div>




</form>