<div id="body-inner">
    <h1>Halfelin</h1>
    <div class="print-columned">
        <h2 id="traits-des-halfelins">Traits des halfelins</h2>
        <p><strong>Augmentation de caractéristiques</strong>. Votre valeur de Dextérité augmente de 2.<br>
            <strong>Âge</strong>. Un halfelin atteint la maturité vers 20 ans et vit généralement 150 ans.<br>
            <strong>Alignement</strong>. La majorité des halfelins est d'alignement Loyal Bon. Ce sont par nature des êtres qui ont un bon cœur et qui sont affables. Ils détestent voir les autres créatures souffrir et ne tolèrent pas l'oppression. Ils
            sont aussi très organisés et respectueux des traditions. Ils se reposent beaucoup sur leur communauté et le confort apporté par leurs coutumes.<br>
            <strong>Taille</strong>. D'une taille moyenne de 90 centimètres, les halfelins pèsent environ 20 kg. Ils sont de petite taille.<br>
            <strong>Vitesse</strong>. Votre vitesse au sol de base est de 7,50 mètres.<br>
            <strong>Chanceux</strong>. Quand vous faites un 1 avec le d20 d'un <a href="/combattre#jets-dattaque">jet d'attaque</a>, d'un test de caractéristiques ou d'un jet de sauvegarde, vous pouvez relancer le dé. Mais vous devez utiliser le nouveau
            résultat du jet.<br>
            <strong>Brave</strong>. Vous bénéficiez d'un avantage sur les jets de sauvegarde contre la terreur.<br>
            <strong>Agilité halfeline</strong>. Vous pouvez traverser n'importe quel emplacement occupé par une créature plus grande que vous.<br>
            <strong>Langues</strong>. Vous pouvez parler, lire et écrire en commun et en halfelin. Bien que la langue des halfelins n'ait rien d'un secret, ils n'aiment pas l'apprendre aux autres. Ils écrivent très peu et n'ont donc pas énormément de
            livres. Leur tradition orale est par contre très riche. Presque tous les halfelins parlent le commun, une langue dont ils partagent l'alphabet, ce qui leur permet de converser avec les gens qui habitent sur les mêmes territoires qu'eux ou
            dont ils traversent les terres.</p>
        <h3>Halfelin pied-léger</h3>
        <p><strong>Augmentation de caractéristiques</strong>. Votre valeur de Charisme augmente de 1.<br>
            <strong>Discrétion naturelle</strong>. Vous pouvez tenter de vous cacher même quand vous êtes seulement dissimulé par une créature qui fait une taille de plus que vous.</p>
        <h3>Halfelin grand-sabot</h3>
        <p><strong>Augmentation de caractéristiques</strong>. Votre valeur de Constitution augmente de 1.<br>
            <strong>Esprit pragmatique</strong>. Vous obtenez un avantage sur les tests de Sagesse (Perspicacité) lorsque l'on tente de vous mentir ou de vous baratiner. De plus, vous obtenez un avantage aux jets de sauvegarde contre les sorts de charme.<br>
            <strong>Travailleur acharné</strong>. Vous obtenez la maîtrise d'un outil d'artisan au choix.</p>
    </div>
</div>