{{#each resources as |res|}}
<li class="attribute resource">
    <h4 class="attribute-name box-title">
        <input name="data.resources.{{res.name}}.label" type="text" value="{{res.label}}"
            placeholder="{{res.placeholder}}" />
    </h4>
    <div class="attribute-value">
        <label class="recharge checkbox">
            {{ localize "DND5E.AbbreviationSR" }} <input name="data.resources.{{res.name}}.sr" type="checkbox"
                {{checked res.sr}} />
        </label>

        <input name="data.resources.{{res.name}}.value" type="number" value="{{res.value}}" placeholder="0" />
        <span class="sep"> / </span>
        <input name="data.resources.{{res.name}}.max" type="number" value="{{res.max}}" placeholder="0" />

        <label class="recharge checkbox">
            {{ localize "DND5E.AbbreviationLR" }} <input name="data.resources.{{res.name}}.lr" type="checkbox"
                {{checked res.lr}} />
        </label>
    </div>
</li>
{{/each}}